<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastro de Membro</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" />

          @if (form.get('email')?.hasError('required')) {
            <mat-error>
              E-mail é obrigatório
            </mat-error>
          }

          @if (form.get('email')?.hasError('email')) {
            <mat-error>
              E-mail inválido
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="telefone"
            (input)="formatarTelefone($event)"
            placeholder="(99) 99999-9999" />

            @if (form.get('telefone')?.hasError('required')) {
              <mat-error>
                Telefone é obrigatório
              </mat-error>
            }
            @if (form.get('telefone')?.hasError('pattern')) {
              <mat-error>
                Telefone inválido
              </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>

          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dataNascimento">

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker">
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gênero</mat-label>
          <mat-select formControlName="sexo">
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Feminino">Feminino</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil">
              <mat-option value="Solteiro">Solteiro</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Viúvo">Viúvo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Endereço</mat-label>
          <mat-select formControlName="endereco">
            @for (endereco of enderecos; track $index) {
              <mat-option
                [value]="endereco">
                {{ endereco.descricao }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ativo</mat-label>
            <mat-select formControlName="ativo">
                <mat-option value="1">SIM</mat-option>
                <mat-option value="0">NÃO</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ativo</mat-label>
            <mat-select formControlName="ativo">
                <mat-option value="1">SIM</mat-option>
                <mat-option value="0">NÃO</mat-option>
            </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
