<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastro de Finanças</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="entrada">Entrada</mat-option>
            <mat-option value="saida">Saída</mat-option>
          </mat-select>
        </mat-form-field>

        @if (form.get('tipo')?.value === 'entrada') {
          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option value="dizimo">Dízimo</mat-option>
              <mat-option value="oferta">Oferta</mat-option>
            </mat-select>
          </mat-form-field>
        }
        @if (form.get('tipo')?.value === 'saida') {
          <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoria">
              <mat-option value="conta">Conta</mat-option>
            </mat-select>
          </mat-form-field>
        }
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            class="valor"
            matInput
            currencyMask
            formControlName="valor"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>

          <input
            matInput
            [matDatepicker]="picker"
            formControlName="data">

          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker">
          </mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        @if (form.get('tipo')?.value === 'entrada') {
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Membro</mat-label>
            <mat-select formControlName="membro">
              @for (membro of membros; track $index) {
                <mat-option
                  [value]="membro">
                  {{ membro.nome }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" rows="4"></textarea>
        </mat-form-field>

        <div class="upload-container">
          <button mat-stroked-button color="primary" (click)="fileInput.click()">
            Selecionar Nota Fiscal
          </button>

          <input
            type="file"
            #fileInput
            hidden
            (change)="onFileSelected($event)"
            accept=".xlsx,.xls,.csv"
          />
          @if (fileName) {
            <div class="file-info">
              {{ fileName }}
            </div>
          }
          @if (errorMessage) {
            <div class="error">
              {{ errorMessage }}
            </div>
          }
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
