.form-container {
  max-width: 800px;
  margin: 20px auto;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 5%;
}

mat-form-field {
  width: 100%;
}

.title {
  text-align: left;
  margin-bottom: 20px;
}

.mat-mdc-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 2% !important;
}

.valor {
  text-align: left !important;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}