<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastro de Usuário</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" />
            <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                type="button">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo de Usuário</mat-label>
            <mat-select formControlName="roles" multiple>
                @for (list of rolesList; track rolesList) {
                <mat-option [value]="list.tipo">{{list.nome}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select formControlName="roles">
            <mat-option value="ROLE_ADMIN">Administrador</mat-option>
            <mat-option value="ROLE_USER">Usuário</mat-option>
          </mat-select>
        </mat-form-field> -->

      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
