<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastro de Membro</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput formControlName="dataNascimento" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="sexo">
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Feminino">Feminino</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivil">
              <mat-option value="Solteiro">Solteiro</mat-option>
              <mat-option value="Casado">Casado</mat-option>
              <mat-option value="Divorciado">Divorciado</mat-option>
              <mat-option value="Viúvo">Viúvo</mat-option>
          </mat-select>
        </mat-form-field>

         <mat-form-field appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="endereco" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ativo</mat-label>
            <mat-select formControlName="ativo">
                <mat-option value="SIM">SIM</mat-option>
                <mat-option value="NAO">NÃO</mat-option>
            </mat-select>
        </mat-form-field>

         <!-- <mat-form-field appearance="outline">
          <mat-label>Data de Cadastro</mat-label>
          <input matInput formControlName="dataCadastro" />
        </mat-form-field> -->
      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
